@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

/* header */

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 128px;
    gap: 64px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.nav__logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

.header__downside {
    display: flex;
    padding-bottom: 88px;
    justify-content: space-between;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.left, .right {
    flex: 1;
}

.left {
    max-width: 450px;
}

.right {
    background-color: #6d747d;
    text-align: center;
    align-content: center;
    max-width: 550px;
}

.sign-up-btn {
    background-color: #3882f6;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
}

/* info section */

main {
    flex: 1;
    display: flex;
    flex-direction: column;

}

article {
    flex: 1;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 32px;
}

.cards-container {
    display: flex;
    gap: 32px;
}

.card {
    text-align: center;
    max-width: 150px;
    color: #4b4b4b;
}

.box {
    max-width: 150px;
    height: 150px;
    border: solid 3px #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

/* quote section */

.quote-section {
    background-color: #e5e7eb;
    align-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0 auto;
}

figure {
    max-width: 775px;
    margin: 0 auto;
}

figcaption {
    text-align: right;
    padding-right: 40px;
    font-weight: 500;
}

figcaption cite {
    font-style: normal;
}